<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">
                    <i class="layui-icon layui-icon-home"></i>
                    <cite>常用工具</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/">综合查询</a></dd>
                    <dd><a href="javascript:;">端口扫描</a></dd>
                    <dd><a href="javascript:;">CMS指纹识别</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-find-fill"></i>
                    <cite>任务管理</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">任务队列</a></dd>
                    <dd><a href="javascript:;">添加任务</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="">
                    <i class="layui-icon layui-icon-website"></i>
                    <cite>域名管理</cite>
                </a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-set"></i>
                    <cite>系统设置</cite>
                </a>
            </li>
        </ul>
    </div>
</div>